header {
  background-color: #384453;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header h1 {
  color: #607da0;
  border: 6px solid white;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
}
.banner {
  position: relative;
}
.banner {
  max-width: 100%;
}
.banner .welcome {
  background: #384453;
  color: #607da0;
  padding: 10px;
  font-size: 35px;
  position: absolute;
  left: 0;
  top: 40%;
}
.banner .welcome span {
  font-size: 1.4em;
}
.banner .Facts {
  background: #1c385f;
  color: #42b3b3;
  padding: 5px;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 40%;
}
.banner .Facts span {
  font-size: 1.2em;
}
.banner .digital {
  background: #548997;
  color: #1a5b6d;
  padding: 5px;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 40%;
}
.banner .news {
  background: #475d64;
  color: #427e8f;
  padding: 5px;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 40%;
}
.banner .news span {
  font-size: 1.2em;
}
nav {
  background: #86a6cc;
  padding: 15px;
  position: sticky;
  top: 106px;
  z-index: 1;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav li {
  width: 30%;
  display: inline-block;
  font-size: 26px;
}
nav li a {
  text-decoration: none;
  color: #20436e;
}
nav li a:hover {
  text-decoration: underline;
}
nav li a.join {
  color: #20436e;
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
article h3 {
  color: #123d72;
  text-align: center;
  font-size: 40px;
}
article p {
  line-height: 2em;
  color: #275a99;
  font-weight: bold;
  font-size: 1.2 em;
}
.images {
  text-align: center;
  margin: 45px 0;
  white-space: nowrap;
}
.images li {
  display: inline-block;
  list-style-type: none;
  width: 25%;
  margin: 20px 5%;
  position: relative;
}
.images li:hover {
  top: -4px;
}
.images li img {
  max-width: 100%;
}
.images2 {
  text-align: center;
  margin: 45px 0;
  white-space: nowrap;
}
.images2 li {
  display: inline-block;
  list-style-type: none;
  width: 25%;
  margin: 20px 5%;
  position: relative;
}
.images2 li:hover {
  top: -4px;
}
.images2 li img {
  max-width: 100%;
}
footer {
  background: #384453;
  color: #607da0;
  padding: 10px;
  text-align: center;
}
footer a {
  color: #95d7ff;
}
.cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  width: 250px;
  height: 350px;
  perspective: 800px;
  border-style: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}

.card-front {
  background-color: #384b64;
  color: #1c385f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-color: #253142;
  color: #1c385f;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
